:root{
    --color01:#000;
    --subitemStyle:{
        background-color: var(--color01);
        color: #fff;
    }
}
.sidebar {
    &__item,&__subitem {
        /*list-style: inside;*/
        /*list-style-type: decimal;*/
        display:block;
        cursor: pointer;
        position: relative;
        &--on {
            background-color: #fff;
            color: #000;
        }
    }

    &__item{
        padding: 10px 0px;
        cursor: default;
        user-select: none;
        &__label{
            display: block;
            &:before{
                content:"▲";
                transform:rotateZ(90deg);
                display: inline-block;
                transition:200ms all;
                transform-origin:center;
            }
            @nest .sidebar__item--open &:before{
                    transform:rotateZ(180deg);
            }
        }
    }
    &__subitem{
        padding:5px 10px;
        &:hover{
            @apply(--subitemStyle);
        }
    }
    &__wsubitem {
        display: none;
        background-color: rgb(24.5%, 24.5%, 24.5%);
    }

    &__item--open &__wsubitem{
        display: block;
    }
}